<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <title>FIFA Team Search From SYSU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'player/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>


<div class="begin">
    <div class="title_img">
        <img src="{% static 'player/img/logo.jpg' %}" alt="SYSU" class="head_img">
    </div>
    <div class="web_title">FIFA 2016 All in One</div>
</div>

<div class='unit'>
    <h2>All Matches</h2>
        {% for match in all_matchs %}
            <li style="margin:14px;"><a href="/player/m/{{ match.id }}">{{ match.league.name }} /{{ match.date }}</a></li>
        {% endfor %}
</div>


<div class="end">
    <div class="foot_note">
        COPYRIGHT © All rights reserved - WAYNE MAI
    </div>
    <div class="foot_note">
        Address : No. 135, Xingang Xi Road, Guangzhou, 510275, P. R. China
    </div>
    <div class="foot_note">
        Email : maijj6@mail2.sysu.edu.cn
    </div>
    <div class="foot_note">
        Author : 16337157 / 16337179 / 16337180
    </div>
</div>

</body>
</html>